<section class="section-project-browser color-scheme-04">
  <div class="project-browser--wrapper">
    <nav class="project-menu">
      <ul class="list project-menu--list">
        <li>
          <a href="/projects/sandbox" class="link list--item project-menu--item">Sandbox</a>
        </li>
        <li>
          <a href="/projects/blockbreaker" class="link list--item project-menu--item">Blockbreaker</a>
        </li>
        <li>
          <a href="/projects/glorfs-quest" class="link list--item project-menu--item">Glorf's Quest</a>
        </li>
        <li>
          <a href="/projects/colour-picker" class="link list--item project-menu--item active">Colour Picker</a>
        </li>
        <li>
          <a href="/projects/etch-a-sketch" class="link list--item project-menu--item">Etch-a-Sketch</a>
        </li>
        <li>
          <a href="/projects/paint" class="link list--item project-menu--item">PAINT!</a>
        </li>
      </ul>
      <!--
      <div class="center">
        <a id="project-browser_view-button" href="/projects/colour-picker" class="button">View</a>
      </div>
      -->
    </nav>
    <div class="project-spotlight--wrapper">
      <div class="project-spotlight--container">
        <img class="project-spotlight--image" src="/images/colour-picker.png" />
      </div>
    </div>
  </div>
</section>