<div class="footer-wrapper color-scheme-01">
  <footer class="footer">

    <div class="footer-top page-width">
      <div class="footer--blocks-wrapper grid grid--1-columns grid--2-columns grid-4--columns">

        <nav class="footer-block--menu grid-item">
          <h2 class="footer-heading">Links</h2>
          <ul class="list menu footer-menu--list" role="list">
            <li>
              <a class="link footer-menu--item" href="/faq">FAQ</a>
            </li>
            <li>
              <a class="link footer-menu--item" href="/policies">Policies</a>
            </li>
            <li>
              <a class="link footer-menu--item" href="/about">About</a>
            </li>
            <li>
              <a class="link footer-menu--item" href="/contact">Contact</a>
            </li>
          </ul>
        </nav>

        <div class="footer-block--text grid-item">
          <h2 class="footer-heading">Hold up!</h2>
          <p>Did you find the egg? Don't leave til you've found the egg!</p>
        </div>

      </div>

      <div class="footer-block--newsletter-wrapper">
        <div class="footer-block--newsletter">
          <h2 class="footer-heading">Newsletter</h2>
          <form method="post" action="" id="form_newsletter_footer" class="form--newsletter">
            <div class="newsletter--field-wrapper">
              <div class="field">
                <input type="email" id="newsletter_email" name="newsletter[email]" class="field-input newsletter--input" autocorrect="off" auto-capitalize="off" autocomplete="email" required />
                <label for="newsletter_email" class="field-label">Email</label>
                <button type="submit" class="newsletter--submit field-button">
                  <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
                  </svg>                  
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-copyright">
        <p class="center">© 2022, Adam Traversy | Klawrz </p>
      </div>
    </div>

  </footer>
</div>