<div class="header-wrapper color-scheme-01">
  <header class="header header--grid page-width">

    <div id="menu-drawer" class="hidden">
      <nav></nav>
    </div>

    <h1 class="title">
      <a class="h2 link" href="/">
        Klawrzland
      </a>
    </h1>

    <nav class="header-menu">
      <ul class="list menu-inline" role="list">
        <li>
          <a class="link header-menu--item list--item" href="/">Home</a>
        </li>
        <li>
          <header-menu>
            <details>
              <summary class="link header-menu--item list--item">
                <span>Services</span>
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                </svg>
              </summary>
              <ul class="list submenu--disclosure color-scheme-01" role="list" tabindex="-1">
                <li>
                  <a class="link header-menu--item list--item" href="/services/small-jobs">Small Jobs</a>
                </li>
                <li>
                  <a class="link header-menu--item list--item" href="/services/launch-your-store">Launch Your Store</a>
                </li>
              </ul>
            </details>
          </header-menu>
        </li>
        <li>
          <header-menu>
            <details>
              <summary class="link header-menu--item list--item">
                <span>Projects</span>
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                </svg>              
              </summary>
              <ul class="list submenu--disclosure color-scheme-01" role="list" tabindex="-1">
                <li>
                  <a class="link header-menu--item list--item" href="/projects/colourSynth">ColourSynth</a>
                </li>
                <li>
                  <a class="link header-menu--item list--item" href="/projects/sandbox">Sandbox</a>
                </li>
                <li>
                  <a class="link header-menu--item list--item" href="/projects/blockbreaker">Blockbreaker</a>
                </li>
                <li>
                  <a class="link header-menu--item list--item" href="/projects/glorfs-quest">Glorf's Quest</a>
                </li>
                <li>
                  <a class="link header-menu--item list--item" href="/projects/etch-a-sketch">Etch-a-Sketch</a>
                </li>
                <li>
                  <a class="link header-menu--item list--item" href="/projects/paint">PAINT!</a>
                </li>
              </ul>
            </details>
          </header-menu>
        </li>
        <li>
          <a class="link header-menu--item list--item" href="/about">About</a>
        </li>
        <li>
          <a class="link header-menu--item list--item" href="/contact">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="icons-wrapper">
      <a class="link header-icon icon--linkedin" href="https://www.linkedin.com/in/adam-traversy-26035984/" target="_blank">
        <img src="/images/linkedin-light.png" class="icon--image" />
      </a>
      <a class="link header-icon icon--instagram" href="https://instagram.com/klawrz" target="_blank">
        <img src="/images/instagram-light.png" class="icon--image" />
      </a>
      <a class="link header-icon icon--facebook" href="https://facebook.com/klawrz" target="_blank">
        <img src="/images/facebook-light.png" class="icon--image" />
      </a>
    </div>

  </header>
</div>