<div class="about page-width page-width--narrow">
  <div class="page-title--container">
    <h1 class="page-title">ABOUT</h1>
  </div>

  <div>
    <p>
      Welcome to Klawrzland.
    </p>
    <p>
      This is a portfolio of projects that I undertake to teach myself new skills and use existing ones. These projects are just for fun, and as such are in various stages of completion.
    </p>
  </div>
</div>