<link href="/styles/blockbreaker.css" rel="stylesheet">

<div id="blockbreaker">
  <div class="blockbreaker--wrapper color-scheme-01 section-padding">
    <canvas id="canvas" width="900px" height="600px"></canvas>
  </div>
</div>

<script src="/scripts/blockbreaker.js" defer></script>