<!DOCTYPE HTML>
<html>
<head>
	<title>BlockBreaker</title>
	
	<link href="/styles/main.css" rel="stylesheet">
	<link href="/styles/blockbreaker.css" rel="stylesheet">
  
</head>
<body id="blockbreaker">
	<%- include('partials/_header'); %>

	<div class="blockbreaker--wrapper color-accent-2 section-padding">
	  <canvas id="canvas" width="900px" height="600px"></canvas>
  </div>

	<%- include('partials/_footer'); %>
	<script src="/scripts/blockbreaker.js" defer></script>
</body>
</html>