<!DOCTYPE HTML>
<html>
	<head>
		<title>Colour Picker</title>
    
    <link href="/styles/main.css" rel="stylesheet">
		<link href="/styles/colour-picker.css" rel="stylesheet">
    
	</head>

	<body id="colour-picker">

    <%- include ('partials/_header'); %>

    <div class="colour-picker--wrapper section-padding color-background-2 transparent">

      <div class="section--upper">

        <div class="left-panel">
          <div class="mode-container">
            <h2>Mode</h2>
            <div class="buttons-wrapper">
              <button id="hsl-button" class="mode-button selected">HSL</button>
              <button id="rgb-button" class="mode-button">RGB</button>
              <button id="cmyk-button" class="mode-button">CMYK</button>
            </div>
            <!-- <button id="log" class="mode-button">Log values</button> -->
          </div>

          

        </div>

        <div class="center-panel">
          <div class="output-wrapper">
            <div class="outputs--left">

              <div class="output--container">
                <h5>Hex</h5>
                <span class="output--inner">
                  <span id="hex-output" class="output h5">#00ff00</span><button class="copy">COPY</button>
                </span>
              </div>

              <div class="output--container">
                <h5>HSL</h5>
                <span class="output--inner">
                  <span id="hsl-output" class="output h5">hsl(120, 100%, 50%)</span><button class="copy">COPY</button>
                </span>
              </div>

            </div>

            <div class="outputs--right">

              <div class="output--container">
                <h5>RGB</h5>
                <span class="output--inner">
                  <span id="rgb-output" class="output h5">rgb(0, 255, 0)</span><button class="copy">COPY</button>
                </span>
              </div>

              <div class="output--container">
                <h5>CMYK</h5>
                <span class="output--inner">
                  <span id="cmyk-output" class="output h5">cmyk(100%, 0%, 100%, 0%)</span><button class="copy">COPY</button>
                </span>
              </div>

            </div>
          </div>
        </div>

        <div class="right-panel">

          <div class="palette-container">
            <div class="palette-swatch"></div>
            <div class="palette-swatch"></div>
            <div class="palette-swatch"></div>
            <div class="palette-swatch"></div>
            <div class="palette-swatch"></div>
            <div class="palette-swatch"></div>
            <div class="palette-swatch"></div>
            <div class="palette-swatch"></div>
            <div class="palette-swatch"></div>
          </div>

        </div>

      </div>

      <div class="section--lower">

        <div class="knobs-container">
          <div class="knob-wrapper">
            <p id="knob1-text" class="pill h5">Hue</p>
            <div class="knob-background">
              <div class="slider">
                <div id="knob1" class="knob h5"></div>
              </div>
            </div>
            <p id="knob1-value" class="pill h5">120</p>
          </div>
          <div class="knob-wrapper">
            <p id="knob2-text" class="pill h5">Saturation</p>
            <div class="knob-background">
              <div class="slider">
                <div id="knob2" class="knob"></div>
              </div>
            </div>
            <p id="knob2-value" class="pill h5">100%</p>
          </div>
          <div class="knob-wrapper">
            <p id="knob3-text" class="pill h5">Lightness</p>
            <div class="knob-background">
              <div class="slider">
                <div id="knob3" class="knob"></div>
              </div>
            </div>
            <p id="knob3-value" class="pill h5">50%</p>
          </div>
          <div id="knob-four" class="knob-wrapper hidden">
            <p id="knob4-text" class="pill h5">Black</p>
            <div class="knob-background">
              <div class="slider">
                <div id="knob4" class="knob"></div>
              </div>
            </div>
            <p id="knob4-value" class="pill h5">0%</p>
          </div>
        </div>

      </div>
    </div>

    <%- include('partials/_footer'); %> 

		<script src="/scripts/colour-picker.js"></script>
	</body>
</html>