<link href="/styles/colour-synth.css" rel="stylesheet">

<div id="colourSynth">
  <div class="colourSynth--wrapper section-padding color-scheme-04 transparent">
    <div id="synth" class="colourSynth--container page-width color-scheme-04 border-radius-3 prevent-select">

      <!-- Top half -->
      <div class="grid--upper">

        <!-- HSL -->
        <div id="hsl-wrapper" class="knobs-wrapper">
          <div class="knobs-container">
            <div id="hue-container" class="knob-container">
              <div class="color-wheel"></div>
              <div id="hue-knob" class="knob"></div>
              <div id="hue-display" class="display">
                <h5 class="knob-type">HUE</h5>
                <h5 class="knob-value hidden">
                  <span>0</span>
                </h5>
              </div>
            </div>
            <div id="saturation-container" class="knob-container">
              <div class="progress-wrapper">
                <div class="progress-overflow">
                  <div class="progress-bar"></div>
                </div>
              </div>
              <div id="saturation-knob" class="knob"></div>
              <div id="saturation-display" class="display">
                <h5 class="knob-type">SAT</h5>
                <h5 class="knob-value hidden">
                  <span>0</span><span>%</span>
                </h5>
              </div>
            </div>
            <div id="lightness-container" class="knob-container">
              <div class="progress-wrapper">
                <div class="progress-overflow">
                  <div class="progress-bar"></div>
                </div>
              </div>
              <div id="lightness-knob" class="knob"></div>
              <div id="lightness-display" class="display">
                <h5 class="knob-type">LIG</h5>
                <h5 class="knob-value hidden">
                  <span>0</span><span>%</span>
                </h5>
              </div>
            </div>
          </div>
          <div class="section-heading">
            <h2>HSL</h2>
          </div>
        </div>

        <!-- RGB -->
        <div id="rgb-wrapper" class="knobs-wrapper">
          <div class="knobs-container">
            <div id="red-container" class="knob-container">
              <div class="progress-wrapper">
                <div class="progress-overflow">
                  <div class="progress-bar"></div>
                </div>
              </div>
              <div id="red-knob" class="knob"></div>
              <div id="red-display" class="display">
                <h5 class="knob-type">RED</h5>
                <h5 class="knob-value hidden">
                  <span>0</span>
                </h5>
              </div>
            </div>
            <div id="green-container" class="knob-container">
              <div class="progress-wrapper">
                <div class="progress-overflow">
                  <div class="progress-bar"></div>
                </div>
              </div>
              <div id="green-knob" class="knob"></div>
              <div id="green-display" class="display">
                <h5 class="knob-type">GRN</h5>
                <h5 class="knob-value hidden">
                  <span>0</span>
                </h5>
              </div>
            </div>
            <div id="blue-container" class="knob-container">
              <div class="progress-wrapper">
                <div class="progress-overflow">
                  <div class="progress-bar"></div>
                </div>
              </div>
              <div id="blue-knob" class="knob"></div>
              <div id="blue-display" class="display">
                <h5 class="knob-type">BLU</h5>
                <h5 class="knob-value hidden">
                  <span>0</span>
                </h5>
              </div>
            </div>
          </div>
          <div class="section-heading">
            <h2>RGB</h2>
          </div>
        </div>

        <!-- CMYK -->
        <div id="cmyk-wrapper" class="knobs-wrapper">
          <div class="knobs-container">
            <div id="cyan-container" class="knob-container">
              <div class="progress-wrapper">
                <div class="progress-overflow">
                  <div class="progress-bar"></div>
                </div>
              </div>
              <div id="cyan-knob" class="knob"></div>
              <div id="cyan-display" class="display">
                <h5 class="knob-type">CYN</h5>
                <h5 class="knob-value hidden">
                  <span>0</span><span>%</span>
                </h5>
              </div>
            </div>
            <div id="magenta-container" class="knob-container">
              <div class="progress-wrapper">
                <div class="progress-overflow">
                  <div class="progress-bar"></div>
                </div>
              </div>
              <div id="magenta-knob" class="knob"></div>
              <div id="magenta-display" class="display">
                <h5 class="knob-type">MAG</h5>
                <h5 class="knob-value hidden">
                  <span>0</span><span>%</span>
                </h5>
              </div>
            </div>
            <div id="yellow-container" class="knob-container">
              <div class="progress-wrapper">
                <div class="progress-overflow">
                  <div class="progress-bar"></div>
                </div>
              </div>
              <div id="yellow-knob" class="knob"></div>
              <div id="yellow-display" class="display">
                <h5 class="knob-type">YEL</h5>
                <h5 class="knob-value hidden">
                  <span>0</span><span>%</span>
                </h5>
              </div>
            </div>
            <div id="black-container" class="knob-container">
              <div class="progress-wrapper">
                <div class="progress-overflow">
                  <div class="progress-bar"></div>
                </div>
              </div>
              <div id="black-knob" class="knob"></div>
              <div id="black-display" class="display">
                <h5 class="knob-type">BLK</h5>
                <h5 class="knob-value hidden">
                  <span>0</span><span>%</span>
                </h5>
              </div>
            </div>
          </div>
          <div class="section-heading">
            <h2>CMYK</h2>
          </div>
        </div>

      </div>

      <!-- Bottom half -->
      <div class="grid--lower">

        <!-- Outputs -->
        <div class="output-wrapper">

            <div class="output-container lcd lcd-display">
              <div class="lcd-top">
                <span><h2 id="output-type">Hex</h2></span>
                <span class="lcd-button">COPY</span>
              </div>
              <span><h2 id="output" class="output-value">#000000</h2></span>
              <div class="mode-buttons">
                <ul class="menu">
                  <li id="hex-button" class="mode-button lcd-button active">Hex</li>
                  <li id="hsl-button" class="mode-button lcd-button">HSL</li>
                  <li id="rgb-button" class="mode-button lcd-button">RGB</li>
                  <li id="cmyk-button" class="mode-button lcd-button">CMYK</li>
                </ul>
              </div>
            </div>

        </div>
        
        <!-- Colour field -->
        <div id="colorField" class="color-field"></div>

        <!-- Palettes -->
        <div class="palette-wrapper">
          <div class="palette-container lcd lcd-display">
            <div class="palette-controls--wrapper">
              <div class="palette-title">Palette 1</div>
              <div class="palette-controls--container">
                <ul class="menu">
                  <li id="previous-palette" class="lcd-button"><</li>
                  <li id="next-palette" class="lcd-button">></li>
                  <li id="new-palette" class="lcd-button">+</li>
                  <li id="delete-palette" class="lcd-button">-</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script src="/scripts/colour-synth.js"></script>