<div class="etch-a-sketch--wrapper color-background-1" width="900px">

  <strong class="etch-a-sketch--heading">Etch - A - Sketch</strong>

  <canvas id="canvas" width="900px" height="600px"></canvas>
  
  <div class="knobs-container">

    <div class="knob-background dial dial-left">
      <div class="slider">
        <div id="knob1" class="knob h5"></div>
      </div>
    </div>

    <div class="knob-background dial dial-right">
      <div class="slider">
        <div id="knob2" class="knob h5"></div>
      </div>
    </div>

  </div>
</div>
<script src="/scripts/etch-a-sketch.js"></script>