<style>
  .wrapper {
    display: flex;
    justify-content: center;
  }
  canvas {
    background: white;
    border: 2px dotted black;
  }
</style>

<div class="wrapper">
  <canvas id="canvas" width="900" height="600"></canvas>
</div>

<script>
  const canvas = document.getElementById('canvas');
  const ctx = canvas.getContext('2d');

  let x, y;

  function drawCircle() {
    ctx.beginPath();
    ctx.arc((canvas.width / 2), (canvas.height / 2), 100, 0, 2 * Math.PI);
    ctx.stroke();

    ctx.beginPath();
    ctx.moveTo((canvas.width / 2) - 100, (canvas.height / 2));
    ctx.lineTo((canvas.width / 2) + 100, (canvas.height / 2));
    ctx.closePath();
    ctx.stroke();
  }

  function draw() {
    drawCircle();
    ctx.beginPath();
    ctx.moveTo(x, y);
    ctx.lineTo(canvas.width / 2, canvas.height / 2);
    ctx.closePath();
    ctx.stroke();
  }

  function update(e) {
    x = e.offsetX;
    y = e.offsetY;

    let log = getAngle();
    console.log(log)
  }

  function init() {
    requestAnimationFrame(loop);
  }

  function loop() {
    clearCanvas();
    draw();
    requestAnimationFrame(loop);
  }

  function clearCanvas() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
  }

  function handleMouseMove(e) {
    update(e);
  }

  function getAngle() {
    let x1 = x;
    let y1 = y;

    let x2 = canvas.width / 2;
    let y2 = canvas.height / 2;

    let deltaX = x1 - x2;
    let deltaY = y1 - y2;

    let rad = Math.atan(deltaY, deltaX);
    console.log(rad)

    let deg = rad * (180 / Math.PI);

    return deg
  }

  document.addEventListener('mousemove', handleMouseMove);

  init();
</script>