<!DOCTYPE HTML>
<html>
<head>
  <link href="/styles/main.css" rel="stylesheet" />
  <link href="/styles/glorf.css" rel="stylesheet" />
</head>

<body id="glorf">
  <%- include('partials/_header');  %> 

  <div class="glorf--wrapper color-accent-1 section-padding">

    <div class="controls">
      <h2 class="center">CONTROLS</h2>
      <p><strong>MOVE: </strong>A, D, LEFT, RIGHT</p>
      <p><strong>JUMP: </strong>SPACE, W, UP</p>
      <p><strong>SHOOT: </strong>C, P</p>
    </div>

    <div class="game center">
      <canvas id="level" class="game-viewport" width="640" height="360"></canvas>
      <audio id="theme" src="/assets/theme.wav"></audio>
      <script src="/scripts/glorf.js"></script>
    </div>

    <div class="score center">
      <h2>SCORE</h2>
    </div>

  </div>

  <%- include('partials/_footer');  %>
</body>
</html>