<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/main.css" rel="stylesheet" />
  <title>Launch Your Store</title>
</head>
<body id="launch-your-store">
  <%- include('partials/_header'); %>
  <div class="page-width page-width--narrow color-scheme-01">
    <div class="page-title--container">
      <h1 class="page-title">LAUNCH YOUR STORE</h1>
    </div>
    <div>
      <p class="color-scheme-02">I can helps launch your store</p>
    </div>
  </div>
  <%- include('partials/_footer'); %>
</body>
</html>