<div class="sandbox--wrapper center color-background-2 section-padding">
  <div class="sandbox--controls center">
    <p>Move: Arrow Keys / WADS</p>
    <p>Jump: Up / Space</p>
    <p>Shoot: X</p>
  </div>
  <canvas id="canvas" width="900" height="600"></canvas>
</div>

<script src="/scripts/sandbox.js"></script>