/*
// COLOURS
*/

/*
  purple: #8500ec rgb(133, 0, 236)
  new purple: #6d53ca rgb(109, 83, 202)
  green: #20df20 rgb(32, 223, 32)
  turquoise: #21e7e7 rgb(33, 231, 231)
*/

/* Scheme 1 - Purple, White, Green */
:root, .color-scheme-01 {
  /* Background — Purple */
  --color-background-red: 109;
  --color-background-green: 83;
  --color-background-blue: 202;
  
  /* Text — White */
  --color-text-red: 255;
  --color-text-green: 255;
  --color-text-blue: 255;

  /* Button Background — Green */
  --color-button-background-red: 109;
  --color-button-background-green: 176;
  --color-button-background-blue: 115;
  
  /* Button Text — White */
  --color-button-text-red: 255;
  --color-button-text-green: 255;
  --color-button-text-blue: 255;

  /* Combine into variables */
  --color-background: var(--color-background-red), var(--color-background-green), var(--color-background-blue);
  --color-foreground: var(--color-text-red), var(--color-text-green), var(--color-text-blue);
  --color-button-background: var(--color-button-background-red), var(--color-button-background-green), var(--color-button-background-blue);
  --color-button-foreground: var(--color-button-text-red), var(--color-button-text-green), var(--color-button-text-blue);
}

/* Scheme 2 - Green, White, Purple */
.color-scheme-02 {
  /* Background — Green */
  --color-background-red: 109;
  --color-background-green: 176;
  --color-background-blue: 115;
  
  /* Text — White */
  --color-text-red: 255;
  --color-text-green: 255;
  --color-text-blue: 255;

  /* Button Background — Purple */
  --color-button-background-red: 109;
  --color-button-background-green: 83;
  --color-button-background-blue: 202;
  
  /* Button Text — White */
  --color-button-text-red: 255;
  --color-button-text-green: 255;
  --color-button-text-blue: 255;

  /* Combine into variables */
  --color-background: var(--color-background-red), var(--color-background-green), var(--color-background-blue);
  --color-foreground: var(--color-text-red), var(--color-text-green), var(--color-text-blue);
  --color-button-background: var(--color-button-background-red), var(--color-button-background-green), var(--color-button-background-blue);
  --color-button-foreground: var(--color-button-text-red), var(--color-button-text-green), var(--color-button-text-blue);
}

/* Scheme 3 - White, Black, Purple */
.color-scheme-03 {
  /* Background — White */
  --color-background-red: 255;
  --color-background-green: 255;
  --color-background-blue: 255;
  
  /* Text — Black */
  --color-text-red: 51;
  --color-text-green: 51;
  --color-text-blue: 51;

  /* Button Background — Purple */
  --color-button-background-red: 109;
  --color-button-background-green: 83;
  --color-button-background-blue: 202;
  
  /* Button Text — Black */
  --color-button-text-red: 51;
  --color-button-text-green: 51;
  --color-button-text-blue: 51;

  /* Combine into variables */
  --color-background: var(--color-background-red), var(--color-background-green), var(--color-background-blue);
  --color-foreground: var(--color-text-red), var(--color-text-green), var(--color-text-blue);
  --color-button-background: var(--color-button-background-red), var(--color-button-background-green), var(--color-button-background-blue);
  --color-button-foreground: var(--color-button-text-red), var(--color-button-text-green), var(--color-button-text-blue);
}

/* Scheme 4 - Black, White, Purple */
.color-scheme-04 {
  /* Background — Black */
  --color-background-red: 51;
  --color-background-green: 51;
  --color-background-blue: 51;
  
  /* Text — White */
  --color-text-red: 255;
  --color-text-green: 255;
  --color-text-blue: 255;

  /* Button Background — Purple */
  --color-button-background-red: 109;
  --color-button-background-green: 83;
  --color-button-background-blue: 202;
  
  /* Button Text — Black */
  --color-button-text-red: 255;
  --color-button-text-green: 255;
  --color-button-text-blue: 255;

  /* Combine into variables */
  --color-background: var(--color-background-red), var(--color-background-green), var(--color-background-blue);
  --color-foreground: var(--color-text-red), var(--color-text-green), var(--color-text-blue);
  --color-button-background: var(--color-button-background-red), var(--color-button-background-green), var(--color-button-background-blue);
  --color-button-foreground: var(--color-button-text-red), var(--color-button-text-green), var(--color-button-text-blue);
}

body,
.color-scheme-01,
.color-scheme-02,
.color-scheme-03,
.color-scheme-04 {
  background-color: rgb(var(--color-background));
  color: rgba(var(--color-foreground), 0.75);
}

:root {
  --alpha-button-background: 1;
  --alpha-button-border: 1;
}

.background-secondary {
  background-color: rgba(var(--color-foreground), 0.04);
}

.link, a {
  color: rgb(var(--color-foreground));
  background-color: transparent;
}



* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: calc(1.0 * 62.5%);
  height: 100%;
}

body {
  /*
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  */
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  line-height: calc(1 + 0.8 / 1.0);
}

@media screen and (min-width: 750px) {
  body {
    font-size: 1.6rem;
  }
}

.lcd {
  font-family: 'VT323', monospace;
  color: rgba(0, 0, 0, 0.7);
}


a {
  text-decoration: none;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-inline {
  display: inline-flex;
  flex-wrap: wrap;
}

.list {
  list-style-type: none;
}

.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

.submenu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid rgba(var(--color-foreground), 0.2);
  padding: 1rem 0;

}

details {
  position: relative;
}

details[open]>.header-menu--item {
  text-decoration: underline;
  z-index: 1;
}

details[open]>.header-menu--item .icon-caret {
  transform: rotate(180deg);
}

summary {
  list-style: none;
  position: relative;
}

summary .icon-caret {
  position: absolute;
  height: 0.6rem;
  right: 1.5rem;
  top: calc(50% - 0.2rem);
}


summary.list--item {
  padding-right: 2.7rem;
}

.header-menu--item .icon-caret {
  right: 0.8rem;
}

.button {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: calc(1 + 0.2 / 1.0);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 0 3rem;
  cursor: pointer;
  text-decoration: none;
  min-width: calc(12rem + 1px * 2);
  min-height: calc(4.5rem + 1px * 2);
  color: rgb(var(--color-button-foreground));
  background-color: rgba(var(--color-button-background), var(--alpha-button-background));
}


.link {
  cursor: pointer;
  display: inline-block;
  border: none;
  box-shadow: none;
  text-underline-offset: 0.3rem;
  background-color: transparent;
  font-size: 1.4rem;
  font-family: inherit;
}

.field {
  display: flex;
  position: relative;
  width: 100%;
  border: 1px solid #333;
}

.field-label {
  position: absolute;
  color: rgba(51, 51, 51, 0.75);
  left: 21px;
  top: 11px;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  pointer-events: none;
}

.field-input {
  padding: 1.5rem;
  width: 100%;
  height: 4.5rem;
  font-size: 1.6rem;
  letter-spacing: 0.04rem;
  margin: 1px;
  outline: 0;
  border: 0;
}

.field-input:focus {
  padding: 2.2rem 1.5rem 0.8rem 2rem;
}

.newsletter-form__field-wrapper .field-input {
  padding-right: 5rem;
}

.field-input:focus ~ .field-label {
  font-size: 1rem;
  top: calc(1px + 0.5rem);
  left: calc(1px + 2rem);
  letter-spacing: 0.04rem;
}

.text-area {
  min-height: 10rem;
}

.field-button {
  align-items: center;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 1px;
  top: 0;
  width: 4.4rem;
  height: 100%;
  background-color: transparent;
}

.page-width {
  padding: 0 5rem;
  margin: 0 auto;
  max-width: 1200px;
}

@media only screen and (min-width: 750px) {
  .page-width--narrow {
    padding: 0 9rem;
  }
}

@media only screen and (min-width: 990px) {
  .page-width--narrow {
    max-width: 72.6rem;
    padding: 0;
  }
}



/* Utility Classes */

.hidden {
  display: none !important;
}

.transparent {
  background-color: transparent;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.border-radius-1 {
  border-radius: 1rem;
}

.border-radius-2 {
  border-radius: 2rem;
}

.border-radius-3 {
  border-radius: 3rem;
}

.cursor-default {
  cursor: default;
}



/*
// Headings
*/

h1, .h1 {
  font-size: calc(1.0 * 3rem);
}

@media only screen and (min-width: 750px) {
  h1, .h1 {
    font-size: calc(1.0 * 4rem)  ;
  }
}

h2, .h2 {
  font-size: calc(1.0 * 2rem);
}

@media only screen and (min-width: 750px) {
  h2, .h2 {
    font-size: calc(1.0 * 2.4rem);
  }
}

h3, .h3 {
  font-size: calc(1.0 * 1.7rem);
}

@media only screen and (min-width: 750px) {
  h3, .h3 {
    font-size: calc(1.0 * 1.8rem);
  }
}

h4, .h4 {
  font-size: calc(1.0 * 1.5rem);
}

h5, .h5 {
  font-size: calc(1.0 * 1.2rem);
}

@media only screen and (min-width: 750px) {
  h5, .h5 {
    font-size: calc(1.0 * 1.3rem);
  }
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  color: var(--color-foreground);
}

.page-title--container {
  padding-bottom: 36px;
}

.page-title {
  margin-bottom: 3rem;
  margin-top: 0;
}

@media screen and (min-width: 750px) {
  .page-title {
    margin-bottom: 4rem;
  }
}


/*
// Grid
*/

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 0;
  list-style: none;
  column-gap: 8px;
  row-gap: 3rem;
}

/* Widths */
.grid-item { /* width with 4px horizontal gap on mobile */
  width: calc(25% - 4px * 3 / 4); 
  max-width: calc(50% - 4px / 2);
  flex-grow: 1;
  flex-shrink: 0;
}

@media only screen and (min-width: 750px) { 
  .grid-item { /* width with 8px horizontal gap on desktop (screens 750px+)  */
    width: calc(25% - 8px * 3 / 4);
    max-width: calc(50% - 8px / 2);
  }
}

/* 1 column */
.grid--1-columns .grid-item {
  max-width: 100%;
  width: 100%;
}

/* 2 columns */
.grid--2-columns .grid-item { /* mobile */
  width: calc(50% - 4px / 2);
}

@media only screen and (min-width: 750px) { 
  .grid--2-columns .grid-item { /* desktop */
    width: calc(25% - 8px * 3 / 4);
  }
}

/* 3 columns */
.grid--3-columns .grid-item { /* mobile */
  width: calc(33.33% - 4px * 2 / 3);
}

@media only screen and (min-width: 750px) { 
  .grid--3-columns .grid-item { /* desktop */
    width: calc(33.33% - 8px * 2 / 3);
  }
}

/* 4 columns */
.grid--4-columns .grid-item {
  width: calc(25% - 4px * 3 / 4);
}

/* 5 columns */
.grid--5-columns .grid-item {
  width: calc(20% - 4px * 4 / 5);
  max-width: calc(20% - 4px * 4 / 5);
}

/* 6 columns */
.grid--6-columns .grid-item {
  width: calc(16.66% - 4px * 5 / 6);
  max-width: calc(16.66% - 4px * 5 / 6);
}


/*
// Sections
*/

.section-padding {
  padding-top: 48px;
  padding-bottom: 48px;
}

.announcement-bar--message {
  margin: 0;
  padding: 1rem 2rem;
  text-align: center;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}

.header-wrapper {
  background: rgb(var(--color-background));
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header--grid {
  display: grid;
  grid-template-areas: "title navigation icons";
  grid-template-columns: auto auto 1fr;
  column-gap: 2rem;
  align-items: center;
}


.title {
  grid-area: "title";
  justify-self: start;
  margin: 0;
}

.title .h2 {
  color: var(--color-text-1);
}

.header-menu {
  grid-area: "navigation";
  justify-self: center;
}

.icons-wrapper {
  display: flex;
  grid-area: "icons";
  justify-self: end;
}

.header-menu--item {
  display: flex;
  align-items: center;
  line-height: 18px;
}

.header-menu--item:hover {
  text-decoration: underline;
}

.list--item {
  padding: 1.2rem;
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.icon--image {
  width: 20px;
  height: 20px;
}



.section-project-browser {
  padding-top: 48px;
  padding-bottom: 48px;
}



.project-menu {
  width: 50%;
}

.project-menu--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.project-menu--item:hover {
  font-weight: 900;
  font-size: x-large;
  text-decoration: underline;
  text-underline-offset: 0.9rem;
}

.project-menu--item.active {
  font-weight: 900;
  font-size: x-large;
  text-decoration: underline;
  text-underline-offset: 0.9rem;
}

.project-menu--item {
  font-size: 2.2rem;
  letter-spacing: 0.3rem;
  line-height: 3.5rem;
}

.project-browser--wrapper {
  display: flex;
  align-items: center;
  padding: 0 10rem;
}

.project-spotlight--wrapper {
  width: 50%;
  border-radius: 50%;
  overflow: hidden;
}

.project-spotlight--container {
  line-height: 0;
}

.project-spotlight--image {
  width: 100%;
}

.footer {
  margin-top: 48px;
  padding-top: 36px;
  padding-bottom: 36px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1.4rem;
}

.footer-heading {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 2rem;
}

.footer-top {
  align-items: center;
  padding-bottom: 5rem;
}

.footer-menu--list {
  flex-direction: column;
}

.footer-menu--item {
  line-height: 3rem;
}

.footer-menu--item:hover {
  text-decoration: underline;
}

.newsletter--submit .icon {
  width: 1.5rem;
}

.footer-bottom {
  padding-top: 3rem;
  border-top: 1px solid rgba(51, 51, 51, 0.2);
}

.footer-block--newsletter-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  margin-top: 3rem;
  gap: 1rem;
}

.footer-block--newsletter {
  text-align: center;
  flex-grow: 1;
}

.form--newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 36rem;
}

.newsletter--field-wrapper {
  max-width: 36rem;
}

.contact, .about {
  padding-top: 36px;
  padding-bottom: 36px;
}
.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact-form {
  padding-top: 36px;
  padding-bottom: 36px;
}

.contact-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
}

.special-welcome p {
  padding: 0 20rem;
}

.rich-text {
  padding-top: 8px;
  padding-bottom: 8px;
}